.form-contact {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  
}

.form-contact form{
  display: none;
  max-width: 390px;
  width: 100%;
  display: flex;
  flex-direction: column; 
  background-color: var(--bg-color);
  padding: 12px;
  border-radius: 8px;
}

.form-contact form label{
  font-family: "Open Sans";
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 4px;
  
}

.form-contact form input,
.form-contact form textarea{
  background: transparent;
  padding: 6px;
  border: 3px solid var(--border-color);
  border-radius: 8px;
  font-size: 16px;
  resize: none;
  margin-bottom: 10px;
  outline: none;

  transition: all .4s;
}

.form-contact form input:focus,
.form-contact form textarea:focus{
  border: 3px solid var(--text-color);
  
}

.form-contact form input{
  height: 38px;
}
.form-contact form input:focus{
  height: 36px;
}

.form-contact form button{
  border: 3px solid var(--border-color);
  border-radius: 8px;
  height: 36px;  
  background-color: var(--invert-text-color);
  font-size: 18px;
  font-family: "Work Sans";

  transition: all .4s ;
  
  cursor: pointer;
}

.form-contact form button:hover{
  border: 3px solid var(--text-color);

}


.form-contact .icon .rigth {
  display: block;
  animation: spinner ease infinite 8s;
}
.form-contact .icon .down{
  display: none;
}

.form-contact .whatsapp{
  max-width: 390px;
  width: 100%;
  padding: 12px;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color);
  border-radius: 8px;

}

.form-contact .whatsapp p{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  gap: 5px;
  font-family: "Work Sans";
  margin-bottom: 10px;
}
.form-contact .whatsapp p svg{
  width: 30px;
  height: 30px;
}

.form-contact .whatsapp textarea{
  border: 3px solid var(--border-color);
  background: transparent;
  height: 120px;
  width: 100%;
  border-radius: 8px;
  resize: none;
  outline: none;
  margin: 10px 0;

  padding: 6px;
  font-size: 16px;
  transition: all .4s ;
}

.form-contact .whatsapp textarea:focus{
  border: 3px solid var(--text-color);
}

.form-contact .whatsapp a{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 8px 16px;

  border: 3px solid var(--border-color);
  border-radius: 8px;
  background-color: var(--invert-text-color);
  font-size: 18px;
  font-family: "Work Sans";
  
  transition: all .4s;
}

.form-contact .whatsapp a:hover{
  border: 3px solid var(--text-color);
}

@keyframes spinner{
  0%{
    rotate: 0deg;
  }
  50%{
    rotate: 180deg;
  }
  100%{
    rotate: 360deg;
  }
}

@media (max-width: 950px){
  .form-contact form{
    max-width: 380px;
  }
  .form-contact .whatsapp p{
    font-size: 22px;
  }
}

@media (max-width: 880px){
  .form-contact form{
    max-width: 390px;
  }
  .form-contact{
    flex-direction: column;
  }
  .form-contact .icon .rigth{
    display: none;
  }
  .form-contact .icon .down{
    display: block;
    animation: spinner ease infinite 8s;
  }

}

@media (max-width: 415px){
  .form-contact .whatsapp p{
    flex-direction: column;
    font-size: 20px;
    gap: 4px;
    text-align: center;
    margin-bottom: 0;
  }
  .form-contact .whatsapp a{
    font-size: 16px;
  }
}

@media (max-width: 372px){
  .form-contact .whatsapp p{
    font-size: 18px;
  }
}
@media (max-width: 305px){
  .form-contact .whatsapp p{
    font-size: 17px;
  }
}